/* 引入重置样式 */
@import "./reset.css";

/* 引入字体图标 */
@font-face {
  font-family: "iconfont";
  src: url("../assets/font/iconfont.eot");
  src: url("../assets/font/iconfont.eot?#iefix") format("embedded-opentype"),
    url("../assets/font/iconfont.woff2") format("woff2"),
    url("../assets/font/iconfont.woff") format("woff"),
    url("../assets/font/iconfont.ttf") format("truetype"),
    url("../assets/font/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 公共样式 */
.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.m-title {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}

* {
  box-sizing: border-box;
}

/* 公共样式结束 */

html {
  font-size: 62.5%;
}

body {
  background: #3a6168;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  
}

/* 头部 */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header .h-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 110rem;
  height: 7rem;
  margin: 0 auto;
}

.h-container .h-logo {
  width: 17.8rem;
  height: 7rem;
  overflow: hidden;
  background: url("../assets/imgs/music.jpg") no-repeat top left / 100% 100%;
  cursor: pointer;
}

.h-container .h-logo span {
  display: none;
}

.h-container .h-nav {
  position: relative;
  display: flex;
  align-items: center;
  width: 50.8rem;
  height: 100%;
  margin-left: 8px;
  color: #ccc;
}

.h-container .h-nav .nav-item {
  position: relative;
  height: 100%;
  line-height: 7rem;
  text-align: center;
  padding: 0 1.9rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  cursor: pointer;
}

.h-container .h-nav .o-favorite {
  display: none;
}

.h-container .login-register .success-login {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  background-position: top left;
  background-size: 100% 100%;
  margin-left: 2rem;
  font-size: 0;
}

.h-container .h-nav .nav-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.h-container .h-nav .nav-item:nth-of-type(6) {
  position: relative;
}

.h-container .h-nav .nav-item:not(.success-login):hover {
  background: #9b59b6;
  color: #fff;
}

.header .h-container .h-nav .nav-item.active {
  background: #9b59b6 !important;
  color: #fff !important;
}

.h-container .h-nav .person-msg {
  position: absolute;
  top: 7rem;
  left: 30rem;
  width: 15rem;
  background: #008c8c;
  z-index: 10;
  cursor: pointer;
  color: #333;
  transition: all 0.5s ease-in;
  height: 0;
  overflow: hidden;
}

.h-container .h-nav .person-msg li {
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

.h-container .h-nav .person-msg li:hover {
  background: #008c8c;
  color: #fff;
}

/* 登录区域 */

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 76.8rem;
  max-width: 100%;
  height: 48rem;
  margin-top: -24rem;
  margin-left: -38.4rem;
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.2), 0 1rem 1rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform: translateY(-73rem);
  transition: transform 0.5s ease-in-out;
  z-index: 100;
}

.form-container .is-show {
  width: 100%;
  opacity: 0;
  display: none;
  transition: all 0.5s;
}

.form-container .validator-phone {
  width: 100%;
  transition: 0.5s;
}

.form-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #fff;
  flex-direction: column;
  padding: 0 3rem;
}

.form-container .social-container {
  margin: 1rem 0;
}

.form-container .social-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 0.5rem;
  height: 4rem;
  width: 4rem;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 1.2rem 1.5rem;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 2rem;
  box-sizing: border-box;
}

.form-container h2 {
  font-size: 3rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-container button {
  width: 100%;
  margin-top: 1rem;
  border-radius: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.2rem 4.5rem;
  background: #008c8c;
  letter-spacing: 0.1rem;
  transition: transform 0.08s ease-in;
  cursor: pointer;
}

.form-container button:active {
  transform: scale(0.95);
}

.o-login,
.o-register {
  background: #008c8c;
  padding: 1.2rem 4.5rem;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.8s ease-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.form-item {
  width: 100%;
}

.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.tip-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  z-index: 100;
  font-size: 2rem;
}

.tip-container p {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2;
  letter-spacing: 0.05rem;
  margin: 2rem 0 3rem;
}

.tip-container .tip {
  position: relative;
  left: -100%;
  background: #9b59b6;
  background: linear-gradient(to right, #ff4b2b, #ff416c) no repeat 0 0 / cover;
  color: #fff;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
}

.tip-panel {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
}

.tip-panel h2 {
  font-size: 3rem;
}

.tip-right {
  right: 0;
  transform: translateX(0);
}

.tip-left {
  transform: translateX(-20%);
}

.has-error .error {
  color: #f55;
  visibility: visible;
}

.show-login-error {
  visibility: hidden;
}

.error-login .show-login-error {
  color: rgb(255, 155, 0);
  visibility: visible;
}

.error {
  height: 2rem;
  visibility: hidden;
}

.cancle {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  z-index: 300;
}

.cancle::before,
.cancle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -0.15rem;
  width: 0.3rem;
  height: 2rem;
  background: #000;
  z-index: 400;
}

.cancle::before {
  transform: rotate(45deg);
}

.cancle::after {
  transform: rotate(-45deg);
}

/* 将登录页移到右侧 */
.container.right-panel-active .login-container {
  transform: translateX(100%);
}

/* 右侧移到左侧 */
.container.right-panel-active .tip-container {
  transform: translateX(-100%);
}

/* 移动注册页到右侧,显示并且覆盖登录页 */
.container.right-panel-active .register-container {
  opacity: 1;
  z-index: 6;
  transform: translateX(100%);
}

.container.right-panel-active .tip {
  transform: translateX(50%);
}

/* 有文字从左往右进的效果 */
.container.right-panel-active .tip-left {
  transform: translateX(0);
}
/* 有文字从右往左进的效果 */
.container.right-panel-active .tip-right {
  transform: translateX(20%);
}

/* 登录区域结束 */

.h-container .search {
  display: flex;
  align-items: center;
  height: 100%;
  color: #ccc;
}

.h-container .search input {
  width: 35rem;
  padding: 1rem;
  border-radius: 2rem;
}

.h-container .search .form .o-search {
  position: relative;
  line-height: 3rem;
  border-radius: 0.3rem 0.3rem 0 0;
}

.h-container .search .form .o-search .iconfont {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.6rem;
  height: 3.6rem;
  text-align: center;
  line-height: 3.6rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.musics,
.cur-hot-wd {
  position: absolute;
  top: 3.6rem;
  left: 0;
  width: 35rem;
  margin: 0 auto;
  margin-top: -1px;
  border-radius: 0 0 1rem 1rem;
  z-index: 10;
  overflow: auto;
  background: #fff;
  padding: 0.5rem;
  display: none;
  height: auto;
}

.musics li {
  width: 100%;
  height: 6rem;
  margin-top: 0.3rem;
  font-size: 1.3rem;
}

.musics .left-img {
  float: left;
  width: 6rem;
  height: 100%;
  margin-right: 1rem;
}

.musics .right-desc {
  float: left;
  width: 26rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 6rem;
  font-size: 1.7rem;
}

.musics a {
  display: flex;
  height: 100%;
}

.musics img {
  width: 100%;
  height: 100%;
}

.musics li:hover {
  background: #3a6168;
  color: #fff;
}

.cur-hot-wd {
  color: #333;
}

.cur-hot-wd .h-title {
  font-weight: bold;
  font-size: 1.8rem;
  color: #333;
}

.cur-hot-wd li a {
  display: flex;
  width: 100%;
  padding: 1rem;
  font-size: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cur-hot-wd li:hover {
  background: #008c8c;
  color: #fff;
}

/* 头部结束 */

/* 不同模块切换 */

.change-mode {
  position: relative;
  margin-top: 7rem;
  z-index: 2;
}

/*主体部分  */
.main {
  width: 100%;
  transition: all 0.6s;
  margin: 0 auto;
}

.wrap-banner {
  background-size: 800rem;
  background-position: top center;
}

.banner {
  position: relative;
  width: 100rem;
  height: 28rem;
  margin: 0 auto;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(100rem);
  filter: blur(100rem);
}

.banner .b-imgs {
  width: 100%;
  height: 25rem;
}

.banner .arrow {
  position: absolute;
  top: 50%;
  width: 3.7rem;
  height: 6.3rem;
  margin-top: -3.15rem;
  cursor: pointer;
  z-index: 100;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner:hover .arrow {
  display: block;
}

.banner .left-arrow {
  left: 0;
  background-image: url(../assets/imgs/b-spirit.png);
  background-position-y: -36rem;
}

.banner .right-arrow {
  right: 0;
  background-image: url("../assets/imgs/b-spirit.png");
  background-position: 0 -50.8rem;
}

.banner .left-arrow:hover {
  background-position-y: -43rem;
}

.banner .right-arrow:hover {
  background-position-y: -57.8rem;
}

.banner .b-imgs .wrapper-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner .wrapper-img li {
  position: absolute;
  height: 25rem;
  width: 73rem;
  transition: all 0.4s linear;
}

.banner .wrapper-img li img {
  height: 100%;
  width: 100%;
}

.banner .wrapper-img li.item1 {
  transform: scale(0.9);
  transform-origin: 0 100%;
}

.banner .wrapper-img li.item2 {
  transform: translateX(13.2rem);
  z-index: 3;
  transform-origin: 100% 100%;
}

.banner .wrapper-img li.item3 {
  transform: translateX(73rem) scale(0.9);
  transform-origin: 100% 100%;
  z-index: 1;
}

.banner .wrapper-img li.item4 {
  transform: translateX(76.2rem) scale(0.9);
  transform-origin: 100% 100%;
}

.banner .wrapper-img li.item5 {
  transform: translateX(100rem) scale(0.9);
  transform-origin: 100% 100%;
}

.banner .wrapper-img li.item6 {
  transform: translateX(173rem) scale(0.9);
  transform-origin: 100% 100%;
}

.banner .wrapper-img li.item7 {
  transform: translateX(246rem) scale(0.9);
  transform-origin: 100% 100%;
}

.banner .wrapper-img li.item8 {
  transform: translateX(319rem) scale(0.9);
  transform-origin: 100% 100%;
}

.banner .wrapper-img li.item9 {
  transform: translateX(392rem) scale(0.9);
  transform-origin: 100% 100%;
}

.banner .dots {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  height: 3rem;
  margin: 0 auto;
  cursor: pointer;
  z-index: 2;
}

.banner .dots span {
  display: inline-block;
  height: 0.5rem;
  width: 3rem;
  background: #ccc;
  cursor: pointer;
}

.banner .dots span.active {
  background: #f40;
}

/* 轮播图结束 */

/* 音乐主体部分 */

.music {
  width: 110rem;
  margin: 0 auto;
  margin-top: 2rem;
}

/* 最近常听 */

.music .recent-listen {
  width: 100%;
  padding: 0.5rem;
}

.music .recent-listen .d-title {
  width: 100%;
  text-align: center;
}

.music .recent-listen .recent-cm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
  width: 100%;
}


.recent-page {
  visibility: hidden;
}

.music .recent-listen .isHide {
  display: none;
}

.music .recent-listen .recent-cm li {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin-top: 1rem;
  -webkit-transition: all 0.3s;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  border: 0.5rem solid #ccc;
}

.music .recent-listen .recent-cm li:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  transform: translate3d(0, -2px, 0) rotate(360deg);
}

.music .recent-listen .recent-cm li img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.music .recent-listen .recent-cm .desc-wd {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  line-height: 1.5;
  z-index: 2;
  font-size: 1.4rem;
  opacity: 0;
  color: #fff;
}

.music .recent-listen .recent-cm .desc-wd p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.music .recent-listen .recent-cm .desc-wd p:hover {
  color: #31c27c;
}

.music .recent-listen .recent-cm .ico-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background: url("../assets/imgs/cover_play.png") no-repeat top left / cover;
  opacity: 0;
  z-index: 3;
}

.music .recent-listen .recent-cm li:hover .ico-play,
.music .recent-listen .recent-cm li:hover .dis-modal,
.music .recent-listen .recent-cm li:hover .desc-wd {
  -webkit-animation: iconShow 0.4s linear forwards;
  animation: iconShow 0.4s linear forwards;
}

@-webkit-keyframes iconShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes iconShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 最近常听结束  */


/* 排行榜 */

.rank {
  padding: 2rem;
}

.rank-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
  color: #fff;
}

.rank-wrapper .rank-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80%;
}

.rank-wrapper .rank-items .item {
  width: 19%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #34495e;
  cursor: pointer;
  overflow: hidden;
  transition: height 0.5s linear 0.5s, width 0.5s linear;
}

.rank-wrapper .rank-items .item:hover .bg {
  transform: scale(1.05, 1.05);
}

.rank-wrapper .rank-items .item:hover .inner .detail .inner-line {
  opacity: 0;
  display: none;
}

.rank-wrapper .rank-items .item:hover .inner .detail .play {
  display: inline-block;
  opacity: 1;
}

.rank-wrapper .rank-items .item .inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s linear;
  border-radius: 5px;
  overflow: hidden;
}

.init .rank-items .item .inner {
  transform: translate3d(0, 100%, 0);
  overflow: hidden;
}

.rank-wrapper .rank-items .active {
  width: 100%;
}

.w-active .rank-items .item {
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

.w-active .rank-items .item:not(.active) {
  width: 0%;
  height: 0%;
}

.rank-wrapper .rank-items .item .inner .btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  width: 80%;
  height: 3rem;
  margin: 0 auto;
  color: #ccc;
  text-align: center;
  line-height: 3rem;
}

.w-active .rank-items .item .inner .detail,
.w-active .rank-items .item .inner .btn {
  opacity: 0;
}

.rank-wrapper .rank-items .item:nth-of-type(2) .inner {
  transition-delay: 0.1s;
}
.rank-wrapper .rank-items .item:nth-of-type(3) .inner {
  transition-delay: 0.2s;
}
.rank-wrapper .rank-items .item:nth-of-type(4) .inner {
  transition-delay: 0.3s;
}
.rank-wrapper .rank-items .item:nth-of-type(5) .inner {
  transition-delay: 0.4s;
}
.rank-wrapper .rank-items .item:nth-of-type(6) .inner {
  transition-delay: 0.5s;
}

.rank-wrapper .rank-items .item .bg {
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  transition: all 0.3s;
}

.rank-wrapper .rank-items .active:nth-of-type(1) .inner .bg,
.rank-wrapper .rank-items .item:nth-of-type(1) .inner .bg {
  background: #cb6f88;
}

.rank-wrapper .rank-items .active:nth-of-type(2) .inner .bg,
.rank-wrapper .rank-items .item:nth-of-type(2) .inner .bg {
  background: #6b97b2;
}

.rank-wrapper .rank-items .active:nth-of-type(3) .inner .bg,
.rank-wrapper .rank-items .item:nth-of-type(3) .inner .bg {
  background: #6cb8ac;
}

.rank-wrapper .rank-items .active:nth-of-type(4) .inner .bg,
.rank-wrapper .rank-items .item:nth-of-type(4) .inner .bg {
  background: #518d95;
}

.rank-wrapper .rank-items .active:nth-of-type(5) .inner .bg,
.rank-wrapper .rank-items .item:nth-of-type(5) .inner .bg {
  background: #e49b72;
}

.rank-wrapper .rank-items .item .inner .detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  line-height: 3rem;
  text-align: center;
  padding-top: 2rem;
  transition: opacity 0.3s linear;
  font-size: 1.3rem;
}

.rank-wrapper .rank-items .item .inner .detail .sort-song {
  font-size: 2.6rem;
}

.rank-wrapper .rank-items .item .inner .detail .line {
  height: 5rem;
  line-height: 5rem;
}

.rank-wrapper .rank-items .item .inner .detail .play {
  display: inline-block;
  margin-top: 0.5rem;
  width: 5rem;
  height: 5rem;
  background: url("../assets/imgs/cover_play.png") no-repeat top left / cover;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}

.rank-wrapper .rank-items .item .inner .inner-line {
  display: inline-block;
  width: 3.6rem;
  height: 0.2rem;
  background: #fff;
  transition: all 0.5s;
}

.rank-wrapper .rank-items .item .inner .detail .rank-song {
  padding: 0 2rem;
  text-align: left;
}

.rank-wrapper .rank-items .item .inner .detail .rank-song p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rank-wrapper .rank-items .item .inner .detail .rank-song p:nth-of-type(2) {
  margin-left: 1rem;
  margin-top: -0.8rem;
}

.rank-wrapper .rank-items .item .inner .detail .rank-song .song-item {
  margin-bottom: 2rem;
}

.rank-wrapper .rank-items .item .inner .detail h2:nth-of-type(1) {
  font-size: 1.6rem;
}

.rank-wrapper .rank-items .item .inner .desc {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 30px;
  opacity: 0;
  transition: opacity 0s linear;
}

.rank-wrapper .rank-items .active .inner .desc {
  opacity: 1;
  transition: opacity 0.5s linear 1s;
}

.rank-wrapper .rank-items .item .inner .desc .left {
  float: left;
  margin-left: 30px;
  line-height: 30px;
}

.rank-wrapper .rank-items .item .inner .desc .close {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.rank-wrapper .rank-items .item .inner .desc .close::before,
.rank-wrapper .rank-items .item .inner .desc .close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px;
  margin-top: -1px;
  background: #fff;
}

.rank-wrapper .rank-items .item .inner .desc .close::before {
  transform: rotate(-45deg);
}

.rank-wrapper .rank-items .item .inner .desc .close::after {
  transform: rotate(45deg);
}

.rank-wrapper .rank-items .active .inner .desc .more-songs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 2.7rem;
}

.rank-wrapper .rank-items .active .inner .desc .more-songs li {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
  text-align: center;
}

/* 排行榜结束 */

/* 推荐音乐 */

.lasest-recommend {
  padding: 1rem;
  padding-top: 1rem;xin
}

.lastest-recommend .m-title,
.lastest-recommend .sort-nav {
  display: none;
}

.sort-nav {
  height: 4rem;
  line-height: 4rem;
  margin-top: 1rem;
  background: rgba(38, 37, 112, 0.6);
}

.nav-items {
  width: 30rem;
  height: 100%;
  margin: 0 auto;
}

.nav-items li {
  position: relative;
  float: left;
  height: 100%;
  width: 5rem;
  text-align: center;
  cursor: pointer;
}

.nav-items li .wd-active {
  color: #8e44ad;
}

.wrap-lastest-item {
  width: 100%;
  margin-top: 2rem;
}

.wrap-lastest-item ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrap-lastest-item ul li {
  width: 200px;
  height: 200px;
  perspective: 700px;
  margin-bottom: 1rem;
}

.wrap-lastest-item .picbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -100px;
  -webkit-animation: 0.3s ease-out forwards;
  animation: 0.3s ease-out forwards;
}

.wrap-lastest-item .picbox .show,
.wrap-lastest-item .picbox .hide {
  width: 100%;
  height: 100%;
}

.wrap-lastest-item .picbox .show img {
  width: 100%;
  height: 100%;
}

.wrap-lastest-item .picbox .hide {
  position: absolute;
  top: 0;
  left: 0;
  background: #34495e;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2;
  padding: 2rem;
  transform: translate3d(0, 0, -1px);
}

.wrap-lastest-item .picbox .hide p {
  position: relative;
  width: 80%;
  z-index: 9999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap-lastest-item .picbox .hide p:hover {
  color: #1abc9c;
}

.wrap-lastest-item .picbox .hide .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background: url("../assets/imgs/cover_play.png") no-repeat top left / cover;
  opacity: 0;
  transition: all 0.5s linear 0.2s;
}

.wrap-lastest-item .picbox .hide:hover .play {
  opacity: 1;
}

.wrap-lastest-item .picbox .hide .iconfont {
  margin-right: 0.3rem;
}

.wrap-lastest-item .i-top .picbox .hide,
.wrap-lastest-item .o-top .picbox .hide {
  transform-origin: bottom;
  transform: translate3d(0, -100%, 0) rotate3d(1, 0, 0, 90deg);
}
.wrap-lastest-item .i-bottom .picbox .hide,
.wrap-lastest-item .o-bottom .picbox .hide {
  transform-origin: top;
  transform: translate3d(0, 100%, 0) rotate3d(1, 0, 0, -90deg);
}
.wrap-lastest-item .i-right .picbox .hide,
.wrap-lastest-item .o-right .picbox .hide {
  transform-origin: left;
  transform: translate3d(100%, 0, 0) rotate3d(0, 1, 0, 90deg);
}
.wrap-lastest-item .i-left .picbox .hide,
.wrap-lastest-item .o-left .picbox .hide {
  transform-origin: right;
  transform: translate3d(-100%, 0, 0) rotate3d(0, 1, 0, -90deg);
}

.wrap-lastest-item .i-top .picbox {
  -webkit-animation-name: i-top;
  animation-name: i-top;
}

.wrap-lastest-item .o-top .picbox {
  -webkit-animation-name: o-top;
  animation-name: o-top;
}

.wrap-lastest-item .i-bottom .picbox {
  -webkit-animation-name: i-bottom;
  animation-name: i-bottom;
}
.wrap-lastest-item .o-bottom .picbox {
  -webkit-animation-name: o-bottom;
  animation-name: o-bottom;
}

.wrap-lastest-item .i-right .picbox {
  -webkit-animation-name: i-right;
  animation-name: i-right;
}
.wrap-lastest-item .o-right .picbox {
  -webkit-animation-name: o-right;
  animation-name: o-right;
}

.wrap-lastest-item .i-left .picbox {
  -webkit-animation-name: i-left;
  animation-name: i-left;
}
.wrap-lastest-item .o-left .picbox {
  -webkit-animation-name: o-left;
  animation-name: o-left;
}

@-webkit-keyframes i-top {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(1, 0, 0, -90deg);
  }
}

@keyframes i-top {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(1, 0, 0, -90deg);
  }
}
@-webkit-keyframes o-top {
  from {
    transform: rotate3d(1, 0, 0, -90deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}
@keyframes o-top {
  from {
    transform: rotate3d(1, 0, 0, -90deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}
@-webkit-keyframes i-bottom {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(1, 0, 0, 90deg);
  }
}
@keyframes i-bottom {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(1, 0, 0, 90deg);
  }
}
@-webkit-keyframes o-bottom {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}
@keyframes o-bottom {
  from {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}
@-webkit-keyframes i-right {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, -90deg);
  }
}
@keyframes i-right {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, -90deg);
  }
}
@-webkit-keyframes o-right {
  from {
    transform: rotate3d(0, 1, 0, -90deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}
@keyframes o-right {
  from {
    transform: rotate3d(0, 1, 0, -90deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}
@-webkit-keyframes i-left {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}
@keyframes i-left {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}
@-webkit-keyframes o-left {
  from {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}
@keyframes o-left {
  from {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}

/* 推荐音乐结束 */

/* 精彩推荐 */
.hot-mv {
  width: 100%;
  padding: 0.5rem;
}

.r-banner {
  position: relative;
  width: 107rem;
  height: 26.6rem;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 3rem;
}

.r-banner:hover .r-arrow {
  display: block;
}

.r-banner .imgs .wrap-img {
  width: 107rem;
  float: left;
}

.r-banner .imgs a {
  position: relative;
  float: left;
  width: 53rem;
  height: 23.6rem;
}

.r-banner .imgs a .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
}

.r-banner .imgs a .desc p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.3rem;
  color: #fff;

}

.r-banner .imgs a img {
  width: 100%;
  height: 100%;
}

.r-banner .imgs a:nth-of-type(1) {
  margin-right: 1rem;
}

.r-banner .r-dots {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 20px;
  cursor: pointer;
}

.r-banner .r-dots span {
  float: left;
  width: 8px;
  height: 8px;
  margin: 2px;
  border-radius: 50%;
  background: #ccc;
}

.r-banner .r-dots span.active {
  background: #00f;
}

.r-banner .r-arrow {
  display: none;
}

.r-banner .r-arrow .arrow-left,
.r-banner .r-arrow .arrow-right {
  position: absolute;
  top: 50%;
  width: 2.7rem;
  height: 6.3rem;
  margin-top: -3.15rem;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.r-banner .r-arrow .arrow-left {
  left: 1rem;
  border-radius: 0 20px 20px 0;
  background: url("../assets/imgs/b-spirit.png");
  background-position-y: -36rem;
}

.r-banner .r-arrow .arrow-right {
  right: 1rem;
  border-radius: 20px 0 0 20px;
  background: url("../assets/imgs/b-spirit.png");
  background-position: -2px -50.8rem;
}
/* 精彩推荐结束 */

/* 歌手 */
.show-singer {
  width: 100%;
  padding: 0.5rem;
  padding-top: 2rem;
}

.wrap-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.box {
  position: relative;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  margin-bottom: 1rem;
  cursor: pointer;
}

.box .img,
.box .box-bg {
  width: 100%;
  height: 100%;
}

.box .img {
  background: #fcc;
}

.box img {
  width: 100%;
  height: 100%;
}

.box .box-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  line-height: 20rem;
  padding: 0.5rem;
  -webkit-animation: 0.5s linear forwards;
  animation: 0.5s linear forwards;
  display: none;
  font-size: 2rem;
}

.box .in-top {
  transform: translate3d(0, -100%, 0);
  -webkit-animation-name: in-top;
  animation-name: in-top;
}
.box .out-top {
  -webkit-animation-name: out-top;
  animation-name: out-top;
}

.box .in-right {
  transform: translate3d(100%, 0, 0);
  -webkit-animation-name: in-right;
  animation-name: in-right;
}

.box .out-right {
  -webkit-animation-name: out-right;
  animation-name: out-right;
}

.box .in-left {
  transform: translate3d(-100%, 0, 0);
  -webkit-animation-name: in-left;
  animation-name: in-left;
}

.box .out-left {
  -webkit-animation-name: out-left;
  animation-name: out-left;
}

.box .out-bottom {
  -webkit-animation-name: out-bottom;
  animation-name: out-bottom;
}
.box .in-bottom {
  transform: translate3d(0, 100%, 0);
  -webkit-animation-name: in-bottom;
  animation-name: in-bottom;
}

@-webkit-keyframes in-top {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes in-top {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes out-top {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes out-top {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}
@-webkit-keyframes in-right {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes in-right {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes out-right {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes out-right {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes in-left {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes in-left {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes out-left {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes out-left {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes in-bottom {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes in-bottom {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes out-bottom {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes out-bottom {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
}

.page .item {
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  border: 1px solid #ccc;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #008c8c;
}

.page .item.p-active,
.page .item.s-active,
.page .item.f-active {
  border: none;
  color: #fff;
}

.f-page {
  visibility: hidden;
}

.page .item:hover {
  border-color: #008c8c;
  background: rgba(58, 97, 104, 0.3);
}

.singer-page {
  visibility: hidden;
}

/* 歌手结束 */


/* 我喜欢的歌单 */

.my-favorite {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.6s;
  transform: translateX(100%);
}

.f-banner {
  position: relative;
  height: 39rem;
  margin: 0 auto;
}

.f-banner .f-main {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}


.f-banner .nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.f-banner .nav .label {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
  padding-left: 25px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.f-banner .nav .list {
  margin-left: 40px;
}

.f-banner .nav .item {
  height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
  font-size: 0px;
  color: #ff5c38;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.f-banner .nav .title {
  font-size: 15px;
  color: rgba(255, 255, 255, .7);
  transition: font-size .08s;
}

.f-banner .nav .desc {
  font-size: 13px;
  color: #ff5c38;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.f-banner .nav .item.active {
  font-size: 13px;
}

.f-banner .nav .item.active .title {
  font-size: 22px;
  color: #ff5c38;
}

.f-music {
  width: 113rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.my-favorite .favorite-music {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 110rem;
  margin-top: 1rem;
}

.my-favorite .favorite-music .music-item {
  position: relative;
  width: 20rem;
  height: 30rem;
  margin-bottom: 1rem;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.my-favorite .favorite-music .music-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.my-favorite .favorite-music .music-item img {
  width: 100%;
  height: 100%;
}

.my-favorite .favorite-music .music-item .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: rgba(0, 0, 0, 0.3);
  font-size: 1.8rem;
  padding-left: 0.5rem;
  color: #ccc;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.my-favorite .favorite-music .music-item:hover .desc {
  height: 5rem;
}

.my-favorite .favorite-music .music-item:hover {
  transform: translateY(-0.2rem)  scale(1.2, 1.06);
  box-shadow: 0 2px 2rem #000;
}

.my-favorite .favorite-music .music-item .desc p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5rem;
  cursor: pointer;
}

.my-favorite .favorite-music .music-item .desc p:hover {
  color: #3a6168;
}

.rec-music {
  width: 113rem;
  margin: 5rem auto;
}

.daily-music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 margin-top: 2rem;
}

.daily-music .daily-item {
  display: flex;
  align-items: center;
  width: 31rem;
  height: 8rem;
  cursor: pointer;
  text-align: left;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.daily-music .daily-item .d-left {
  width: 8rem;
  height: 100%;
  margin-right: 1rem;
}

.daily-music .daily-item .d-left img {
  width: 100%;
  height: 100%;
}

.daily-music .daily-item .d-right {
  width: 22rem
}

.daily-music .daily-item .d-cm:hover {
  color: #fff;
}

.daily-music .daily-item .d-songName, .daily-music .daily-item .d-singer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.daily-music .daily-item .d-singer {
  margin-top: 1rem;
  color: #ccc;
}


/* 我的歌单结束  */


/* loading */
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #3a6168;
  z-index: 100;
  display: none;
}

.loading h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.monster {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 11rem;
  height: 10rem;
  border-radius: 2rem;
  margin: 0 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  animation: jump 0.8s linear infinite alternate;
  background: #db4d6d;
}

.monster .eye {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: #fff;
  margin: 1rem 0;
}

.monster .eye .eyeBall {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #0c4473;
  animation: eyeMove 1.6s linear infinite alternate;
}

.monster .mouth {
  width: 32%;
  height: 1.2rem;
  border-radius: 1.2rem;
  background: #fff;
}

.monster::before, .monster::after {
  position: absolute;
  left: 50%;
  top: -1rem;
  display: block;
  width: 20%;
  height: 1rem;
  content: '';
  border-radius: 1rem;
  background: #fff;
}

.monster::before {
  transform: translateX(-70%) rotate(45deg);
}

.monster::after {
  transform: translateX(-30%) rotate(-45deg)
}

.monster.blue {
  animation-delay: 0.5s;
  background: #0c4473;
}

.monster.blue .eyeBall, .monster.blue .mouth {
  background: #db4d6d;
}

@keyframes jump {
  50% {
      top: 0;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3)
  }
  100% {
      top: -5rem;
      box-shadow: 0 8rem 2rem rgba(0, 0, 0, 0.3)
  }
}

@keyframes eyeMove {
  from {
      transform: translate(50%)
  }
  to {
      transform: translate(-50%)
  }
}


/* loading结束 */


/* 底部 */

.footer {
  position: relative;
  width: 100%;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 7rem;
  z-index: 10;
}

.footer h2 {
  font-size: 3rem;
  color: #fff;
  -webkit-animation: colorChange 6s linear infinite;
          animation: colorChange 6s linear infinite;
}

@-webkit-keyframes colorChange {
  from {
    color: #fff;
  }
  to {
    color: #111;
  }
}

@keyframes colorChange {
  from {
    color: #fff;
  }
  to {
    color: #111;
  }
}


/* 底部结束 */
