/* 播放器 */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  background: #eff5f9;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.p-container {
  width: 28rem;
  margin: 0 auto;
}

.device {
  height: 100%;
  width: 100%;
  transition: all 0.5s linear;
  transform: translateX(0);
  color: rgba(225, 225, 225, 0.8);
}

.device .main {
  position: relative;
  display: flex;
  width: 100%;
  height: 84vh;
}

.device .main .blur-bg {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 600rem;
  background-position: top center;
  z-index: 2;
  -webkit-filter: blur(10rem);
          filter: blur(10rem);
}

.d-bottom {
  display: flex;
  height: 16%;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.device .left-songs {
  position: relative;
  z-index: 10;
  width: 28%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.device .left-songs li {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.8rem;
  padding: 0.5rem 0;
  text-align: center;
  color: #000;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.device .left-songs li:hover {
  background: #008c8c;
  color: #fff;
}

.right-songs {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: #000;
  z-index: 10;
  overflow: hidden;
}

/* 侧栏旋转正方体 */
.cube-player {
  position: absolute;
  top: 20rem;
  width: 20rem;
  height: 20rem;
  perspective: 80rem;
}

.a-left {
  left: 1rem;
}

.a-right {
  right: 1rem;
}

.cube-player .control {
  margin-right: 2rem;
  width: 6rem;
  height: 3rem;
  background: rgba(100, 206, 206, 0.5);
}

.cube-player div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 10rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  font-size: 3rem;
  transition: all 5s;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.cube-player .wrap {
  display: flex;
  position: absolute;
  top: 21rem;
  left: 0;
  width: auto;
  height: auto;
  transition: none;
}

.cube-container {
  transform-style: preserve-3d;
  -webkit-animation: loop 5s linear infinite paused;
          animation: loop 5s linear infinite paused;
}

@-webkit-keyframes loop {
  from {
    transform: rotateX(30deg) rotateY(30deg);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes loop {
  from {
    transform: rotateX(30deg) rotateY(30deg);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.singer1 {
  background: rgba(255, 0, 0, 0.5);
  transform: translateZ(50px);
}

.singer2 {
  transform: translateZ(-50px) rotateY(180deg);
  background: rgba(255, 255, 0, 0.5);
}

.singer3 {
  background: rgba(255, 0, 255, 0.5);
  transform: translateY(-50px) rotateX(90deg);
}

.singer4 {
  background: rgba(99, 99, 173, 0.5);
  transform: translateY(50px) rotateX(-90deg);
}

.singer5 {
  transform: translateX(-50px) rotateY(-90deg);
  background: rgba(100, 206, 206, 0.5);
}

.singer6 {
  background: rgb(164, 178, 199, 0.5);
  transform: translateX(50px) rotateY(90deg);
}

/* 侧栏正方体结束 */

.right-songs .wrapper-lyrics {
  width: 100%;
  height: 35rem;
  overflow: hidden;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.right-songs .lyrics {
  width: 80rem;
  margin: auto;
  overflow: hidden;
  transition: 0.2s;
}

.right-songs .lyrics p {
  height: 3.3rem;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  line-height: 3rem;
  color: #eee;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.right-songs .lyrics p.active {
  color: #8e44ad;
}

.device .album {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@-webkit-keyframes albumRotate {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes albumRotate {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.device .album .p-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: albumRotate 15s linear infinite paused;
          animation: albumRotate 15s linear infinite paused;
}

.device .album .swiper {
  position: absolute;
  top: 0;
  right: -64px;
  height: 13rem;
  transition: all 0.5s linear;
  transform-origin: top center;
  transform: rotate(0deg);
}

.device .album .swiper img {
  height: 100%;
}

.device .prograss {
  position: relative;
  width: 45rem;
  height: 1rem;
  border-radius: 1rem;
  background: #646464;
  cursor: pointer;
}

.device .prograss .prograss-move {
  height: 100%;
  width: 0;
  background: #fff;
  border-radius: 1rem;
}

.device .prograss .head-move {
  position: absolute;
  top: -3px;
  left: -6px;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.device .prograss .song-desc {
  position: absolute;
  top: -2.5rem;
  left: 0;
  width: 36rem;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.device .prograss .time {
  position: absolute;
  top: -2.2rem;
  right: 0;
  color: #ccc;
}

.device .prograss .song-desc span:hover {
  color: #fff;
}

.device .player {
  display: flex;
  height: 10rem;
  width: 28rem;
  align-items: center;
  justify-content: space-between;
}

.device .player .cm-bg {
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 140, 140, 0.8);
  cursor: pointer;
}

.device .player .prev,
.device .player .next {
  width: 6rem;
  height: 6rem;
  line-height: 7rem;
}

.device .player .prev i,
.device .player .next i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url("../assets/imgs/player.png") no-repeat;
}

.device .player .run-pause {
  position: relative;
  width: 9rem;
  height: 9rem;
  line-height: 9rem;
}

.device .player .run-pause i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  background: url("../assets/imgs/player.png") no-repeat;
  background-position: 9px 0px;
}

.device .player .prev i {
  background-position: 0px -30px;
}

.device .player .next i {
  background-position: 0px -52px;
}

.device .player a:hover {
  background: rgba(0, 140, 140);
}

.controls {
  width: 30rem;
  height: 5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.controls .volume {
  width: 20rem;
}

.controls .volume .volume-move {
  left: 1.5rem;
}

.controls .volume .volume-prograss {
  width: 2.1rem;
  background: #fff;
}

.controls .play-mode,
.controls .volume-ico,
.controls .comment {
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 7rem;
}

.controls .play-mode i,
.controls .volume-ico i, 
.controls .comment i {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: url("../assets/imgs/player.png") no-repeat;
  background-position-y: -20.2rem;
}

.controls .volume-ico {
  text-align: right;
  margin-right: 4px;
}

.controls .volume-ico i {
  height: 25px;
  background-position-y: -144px;
}

.controls .comment {
  margin-left: 1rem;
}

.controls .comment i {
  background-position-y: -39.7rem;
}
/* 播放器结束 */

/* 评论区 */
.hot-comment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  transform: translateX(100%);
}

.o-comment .o-page {
  position: fixed;
  left: 100px;
  top: 100px;
  width: 170px;
  height: 170px;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  background: #fcc;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
}

.o-page span {
  position: absolute;
  top: 5px;
  right: 10px;
}

.input {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 1rem;
  margin: 0 auto;
  font-size: 2rem;
  overflow: hidden;
}

.c-input {
  height: 2rem;
  width: 90%;
  border: none;
  padding: 2rem 1rem;
  border-radius: 2rem 0 0 2rem;
  outline: none;
  outline-offset: 0;
  font-size: 16px;
  background: #eff5f9;
  margin-bottom: 1rem;
  border: 1px solid #3a6168;
}

.input button {
  height: 6.2rem;
  width: 10%;
  outline: none;
  border: 1px solid #3a6168;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0 2rem 2rem 0;
  background: #3a6168;
  letter-spacing: 0.3rem;
  color: #fff;
}


/* 评论区结束 */

/* loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #0c4475;
  flex-direction: column;
  transition: all 0.5s linear;
}

.loading .msg {
  margin-top: 2rem;
}

.loading .msg h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.4rem;

}


.monster {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 11rem;
  height: 10rem;
  border-radius: 2rem;
  margin: 0 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  animation: jump 0.8s linear infinite alternate;
  background: #db4d6d;
}

.monster .eye {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: #fff;
  margin: 1rem 0;
}

.monster .eye .eyeBall {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #0c4473;
  animation: eyeMove 1.6s linear infinite alternate;
}

.monster .mouth {
  width: 32%;
  height: 1.2rem;
  border-radius: 1.2rem;
  background: #fff;
}

.monster::before, .monster::after {
  position: absolute;
  left: 50%;
  top: -1rem;
  display: block;
  width: 20%;
  height: 1rem;
  content: '';
  border-radius: 1rem;
  background: #fff;
}

.monster::before {
  transform: translateX(-70%) rotate(45deg);
}

.monster::after {
  transform: translateX(-30%) rotate(-45deg)
}

.monster.blue {
  animation-delay: 0.5s;
  background: #0c4473;
}

.monster.blue .eyeBall, .monster.blue .mouth {
  background: #db4d6d;
}

@keyframes jump {
  50% {
      top: 0;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3)
  }
  100% {
      top: -5rem;
      box-shadow: 0 8rem 2rem rgba(0, 0, 0, 0.3)
  }
}

@keyframes eyeMove {
  from {
      transform: translate(50%)
  }
  to {
      transform: translate(-50%)
  }
}



/* loading结束 */
