html {
    font-size: 62.5%;
}

body {
    background: #EFF5F9;
}

.p-container {
   width: 28rem;
   margin: 0 auto; 
}

.device {
    width: 32rem;
    height: 60rem;
    margin: 1rem auto;
    background-color: #fff;
    border-radius: 2rem;
    padding-top: 1rem;
}

.device .album {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
    animation: albumRotate 15s linear infinite paused;
}

@keyframes albumRotate {
    from { transform: rotate3d(0, 0, 0, 0); }
    to { transform: rotate3d(0, 0, 1, 360deg); }
}

.device .album img {
    width: 100%;
    height: 100%;
    border-radius: 2rem 2rem 0 0;
}

.device .desc {
    height: 8.6rem;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.device .desc p {
    height: 2.1rem;
    line-height: 2.1rem;
    color: #728C98;
    font-size: 1.6rem;
}

.device .desc p span:nth-of-type(1) {
    float: left;
}

.device .desc p span:nth-of-type(2) {
    float: right;
    font-size: 1.2rem;
    color: #AEBEC6;
}

.device .desc p:nth-of-type(2) {
    font-size: 1.3rem;
}

.device .prograss {
    position: relative;
    height: 0.8rem;
    margin-top: 5rem;
    border-radius: 1rem;
    background: #EFF5F9;
    cursor: pointer;
}

.device .prograss .prograss-move {
    height: 100%;
    width: 0;
    background: #3B3B98;
    border-radius: 1rem;
    /* transition: all 0.3s; */
}

.device .prograss .head-move {
    position: absolute;
    top: -3px;
    left: -6px;
    width: 1.5rem;
    height: 1.5rem;
    background: #25CCF7;
    border-radius: 50%;
    cursor: pointer;
    /* transition: all 0.3s; */
}

.device .prograss .time {
    position: absolute;
    top: -2rem;
    right: 0;
    color: #ccc;
}

.device .player {
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.device .player .cm-bg {
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 140, 140, 0.8);
    cursor: pointer;
}

.device .player .prev, .device .player .next {
    width: 6rem;
    height: 6rem;
    line-height: 7rem;
} 

.device .player .prev i, .device .player .next i {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('./player.png');
}

.device .player .run-pause {
    position: relative;
    width: 9rem;
    height: 9rem;
    line-height: 9rem;
}

.device .player .run-pause i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;
    background: url('./player.png') no-repeat;
    background-position: 9px 0px;
}

.device .player .prev i {
    background-position: 0px -30px;
}

.device .player .next i {
    background-position: 0px -52px;
}

.device .player a:hover {
    background: rgba(0, 140, 140)
}